{% for item in site.categories['carrusel'] %}
  {% if item.lang == page.lang %}
        <div class="item">
          <a target="_blank"
             href="{{item.link}}">
            <figure>
              <figcaption class="text-overlay">
                <div class="info">
                  <h4>{{item.overlay_title}}</h4>
                  <p>{{item.overlay_description}}</p>
                </div><!-- /.info -->
              </figcaption>
                {{item.image}}
            </figure>
          </a>
        </div>
  {% endif %}
{% endfor %}