<section id="about" class="tint-bg">
  <div class="container inner-top-sm animate">
    <header>
      <h1>#MadridEsPop</h1>
      <div class="row">
        <div class="col-md-7 inner-bottom-sm">
        <p>This summer Madrid will become a centre of Pop Art, with the exhibition <strong>Pop Art Myths</strong> organised by the Museo Thyssen-Bornemisza, and an exhibition at the Museo Reina Sofía focusing on one of the great protagonists of Pop Art, <strong>Richard Hamilton</strong>.</p>

<p>Both exhibitions, made up of more than 300 works of art, look at the traditional myths of the Pop movement in a different light, highlighting the turbulence of a society that sought to forget the trauma of war. It also takes a critical view of the boom of mass culture and the new consumer society.
</p>
          
        </div>
        <div class="col-md-5 inner-bottom-sm">
          {% include twitter.html %}
        </div>
      </div>
    </header>
  </div>
</section>
